.products-section {
  //   background-color: red;
  width: 100%;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    li {
      max-width: 24%;
      margin-bottom: 1rem;
      transition: 0.3s ease-in-out;
      flex: 1 1 24%;
      a {
        color: #000;
        figure {
          display: flex;
          flex-direction: column;
          background-color: #fff;
          border-radius: 7px;
          height: 300px;
          box-shadow: 0px 0px 10px 2px rgba(#333, 0.2);

          img {
            width: 100%;
            height: 60%;
            border-radius: 7px 7px 0 0;
          }
          figcaption {
            padding: 0.5rem 1rem;
            height: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            p {
              font-size: 0.9rem;
            }
            .price-wrapper {
              display: flex;
              justify-content: flex-end;
              margin-top: 16px;
              h4 {
                span {
                  font-size: 0.9rem;
                }
              }
            }
          }
        }
      }
      &:hover {
        transform: translateY(-4px);
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .products-section {
    //   background-color: red;
    width: 100%;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      li {
        max-width: 47%;
        margin-bottom: 1rem;
        transition: 0.3s ease-in-out;
        flex: 1 1 50%;
        a {
          color: #000;
          figure {
            display: flex;
            flex-direction: column;
            background-color: #fff;
            border-radius: 7px;
            height: 250px;
            box-shadow: 0px 0px 10px 2px rgba(#333, 0.2);

            img {
              width: 100%;
              height: 60%;
              border-radius: 7px 7px 0 0;
            }
            figcaption {
              padding: 0.5rem 1rem;
              height: 40%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              p {
                font-size: 0.9rem;
              }
              .price-wrapper {
                display: flex;
                justify-content: flex-end;
                margin-top: 16px;
                h4 {
                  span {
                    font-size: 0.9rem;
                  }
                }
              }
            }
          }
        }
        &:hover {
          transform: translateY(-4px);
        }
      }
    }
  }
}
