.category-panel-section {
  border-bottom: 1px solid rgba(rgb(102, 102, 102), 0.2);

  margin-bottom: 1rem;
  h6 {
    border-bottom: 1px solid rgba(rgb(102, 102, 102), 0.3);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    overflow: hidden;

    li {
      margin: 0.5rem 0;
      p {
        font-size: 0.8rem;
        margin-right: 1rem;
        margin-bottom: 0.2rem;
        cursor: pointer;
      }
    }
  }
  button {
    background: none;
    border: none;
    font-size: 0.8rem;
    color: rgba(#000, 0.5);
    margin-right: 1rem;
    outline: none;
    margin-bottom: 1rem;
  }
  .show-all {
    height: fit-content;
  }
}
