.product-wraper {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2.5rem;
  align-items: center;
  background-color: #fff;
  padding: 2em 0;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  // height: 900px;

  div.left-side {
    width: 49%;
    // background-color: #f6f6f6;
    padding: 0 2em;
    border-radius: 10px;
    // height: 600px;
    // background-color: red;
    // box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  }

  .right-side {
    display: flex;
    width: 49%;
    // height: 600px;
    padding: 0 2em 2em 2em;
    // height: 90vh;
    // border-left: 1px solid rgba(134, 134, 134, 0.1);

    .right-side-inner {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #fff;
      padding: 2em;
      border-radius: 10px;
      text-align: center;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
      // height: 90vh;

      .rating-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          width: 1em;
          height: 1em;
          margin: 0;
          i.fa-star {
            font-size: 0.7rem;
            color: gold;
            margin: 0;
            padding: 0;
          }
          i.off {
            color: gray;
          }
        }
        a.review-count {
          margin: 0 0.5em;
          font-size: 0.8rem;
        }
        a.write-review {
          margin: 0 1em;
          font-size: 0.8rem;
          i {
            padding-left: 0.5em;
          }

          &:before {
            content: '|';
            padding-left: 1em;
            color: #dbdbdb;
          }
        }
      }

      h2 {
        font-size: 1.5rem;
        padding-bottom: 1em;
      }

      .product-detail-list {
        width: 100%;
        border-top: 1px solid #e7e7e7;
        line-height: 1.2rem;
        margin-bottom: 0;
        padding: 0.1em 0;
        font-size: 0.8rem;

        li {
          line-height: 1.2rem;
          padding: 0.8em;

          span {
            padding-left: 1em;
          }
        }
      }

      .product-price {
        width: 100%;
        border-top: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
        padding: 0.1em 0;
        margin-bottom: 1em;

        li {
          display: inline-block;
          padding: 1em;

          .line-through {
            text-decoration: line-through;
          }
        }
      }

      .add-wraper {
        display: flex;
        justify-content: center;
        align-items: center;
        label {
          font-size: 0.8rem;
          order: 1;
        }
        input {
          width: 2.5em;
          margin: 0 1em;
          padding: 4px;
          height: 2.5em;

          &::placeholder {
            padding: 5px;
          }
        }

        button {
          background: none;
          border: none;
          color: #333;
          background-color: var(--yellow);
          padding: 0.3rem 1.3rem;
          border-radius: 17px;
          text-decoration: none;
          transition: 0.3s ease-in-out;
          order: -1;

          &:hover {
            background-color: var(--cream);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .product-wraper {
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2.5rem;
    align-items: center;
    flex-direction: column;

    div.left-side {
      width: 100%;
      background-color: #f6f6f6;
      padding: 2em;
      border-radius: 10px;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
      order: -1;
    }

    .right-side {
      width: 100%;
    }
  }
}
