.width80 {
  width: 80%;
  #subjectModal {
    width: 80%;
    // margin: auto;
    // max-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    // overflow: auto;
    border-radius: 10px;
    // max-height: 97vh;
    // overflow: auto;
    .subjectModal-box {
      background-color: transparent;
      box-shadow: none;
      padding: unset;
      .gallery {
        background-color: white;
        border-radius: 10px;
        padding: 10px 10px 0 10px;
      }
      .form-countainer {
        // min-height: 70vh;
      }
    }
  }
  > .modal_container-box {
    overflow-y: auto;
    overflow-x: hidden;
  }
}
.staticStyle.bgWhite {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 200;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
