header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../../public/images/Untitled-2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .header-wrapper {
    padding: 1.8rem 0 0.1rem 0;
  }
  .top-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 0.3rem;

    .right-side-wrapper {
      width: 70%;
      a {
        img {
          width: 75%;
        }
      }
    }
    .left-side-wrapper {
      //   width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .sign-up {
        display: flex;
        justify-content: space-between;
        background-color: var(--cream);
        color: var(--orange);
        padding: 0.2rem;
        cursor: pointer;
        transition: 0.3s ease-in-out;

        &:hover {
          // background-color: #fff;
          box-shadow: 0 0 7px 3px rgba(#333, 0.2);
        }
        span {
          font-size: 18px;
          padding-right: 5px;
          font-weight: light;
          i {
            font-size: 24px;
          }
        }
      }
      .search {
        display: flex;

        form {
          display: flex;
          align-items: center;
          position: relative;
          border-bottom: 2px solid var(--cream);
          color: var(--cream);
          i {
            position: absolute;
            left: 5px;
            transform: scaleX(-1);
            font-weight: 400;
            font-size: 18px;
          }
          input {
            background: none;
            border: none;
            outline: none;
            padding: 0 0.3rem;
          }
        }
      }
    }
  }
  nav {
    background-color: #fff;
    width: 100%;
    margin-bottom: 0.5rem;

    .small-device-wrapper {
      display: none;
      .menu-btn {
        background: none;
        border: none;
        font-size: 1rem;
        cursor: pointer;
        padding: 0.5rem;
        display: none;
      }
    }
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0.7rem 1rem;

      li {
        display: flex;
        align-items: center;
        justify-content: center;

        &:first-child {
          display: none;
        }
        a {
          color: inherit;
          &:hover {
            color: inherit;
          }
        }
        h6 {
          text-align: center;
          font-weight: lighter;
          cursor: pointer;
          position: relative;

          &:after {
            content: "";
            width: 0;
            height: 2px;
            background-color: rgba(#333, 0.4);
            position: absolute;
            right: 0;
            bottom: -5px;
            transition: 0.3s ease-in-out;
          }

          &:hover::after {
            width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 370px) {
  header {
    .right-side-wrapper {
      margin-bottom: 0.5rem;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        display: flex;
        justify-content: center;
        img {
          width: 90%;
          max-height: 82px !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  header {
    .top-section {
      flex-direction: column;
      align-items: center;

      .right-side-wrapper {
        margin-bottom: 0.5rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          display: flex;
          justify-content: center;
          img {
            width: 90%;
          }
        }
      }
      .left-side-wrapper {
        display: none;
      }
    }
    nav {
      background-color: #fff;
      width: 100%;
      margin-bottom: 0.5rem;
      .small-device-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        .menu-btn {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 20%;
        background-color: #fff;
        z-index: 20;
        height: 100vh;
        // transform: translateX(100%);
        transition: 0.3s ease-in-out;

        li {
          margin-right: 1rem;

          &:first-child {
            display: block;
            font-size: 1.2rem;
            margin-right: auto;
          }
        }
      }
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    background-color: #333;
    user-select: none;
    pointer-events: none;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }
  .over-show {
    opacity: 0.5;
  }
  .over-unShow {
    opacity: 0;
  }

  .show {
    transform: translateX(0);
  }
  .unShow {
    transform: translateX(100%);
  }
}
