body {
  direction: rtl !important;
  text-align: start;
  font-family: iranSans;
  line-height: normal;
  background-color: var(--cream);
  background: rgb(244, 190, 118);
  background: linear-gradient(
    360deg,
    rgba(244, 190, 118, 1) 0%,
    rgba(249, 249, 186, 1) 50%,
    rgba(254, 254, 224, 1) 100%
  );
}
ul {
  list-style: none;
}
a {
  text-decoration: none !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  outline: none !important;
}

a.details-btn {
  color: #333;
  background-color: var(--cream);
  padding: 0.1rem 1.3rem;
  border-radius: 17px;
  text-decoration: none;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: var(--yellow);
  }
}
#selection_bubble {
  padding: 0 !important;
}
.title {
  font-size: 1.5rem;
  white-space: nowrap;
}
.base-container {
  width: 100%;
  padding: 0 2rem;
  max-width: 1800px;
  margin: 0 auto;
  > section {
    margin: 10px auto;
    display: inline-flex;
    width: 100%;
    // flex-direction: column;
    // justify-content: center;
  }
  // > div {
  //   margin: 10px auto;
  //   display: inline-flex;
  //   width: 100%;
  //   justify-content: center;
  // }
}

@media only screen and (max-width: 40em) {
  .base-container {
    padding: 0 0.5rem;
  }
}

@media only screen and (max-width: 800px) {
  a.details-btn {
    font-size: 0.8rem;
    padding: 0.1rem 0.8rem;
  }
}

// ================= Bootstrap Container size ============
//0-375
//376-768
//768-1024
//1024-1240
//1240-1366
//1366-up

@import './colors.scss';
// @import './cssReset.scss';
@import '../baseComponent/Slider/SliderCard/index.scss'; //for custom slider styles
// product slider custom style
@import '../../node_modules/pure-react-carousel/dist/react-carousel.es.css';
// @import "../../node_modules/pure-";
@import '../reusableComponent/ProductsSlider/index.scss';

// slider style of carousel
// @import "../../node_modules/react-responsive-carousel/lib/styles/carousel.min.css"; // for home screen slider
@import '../../node_modules/react-responsive-carousel/lib/styles/carousel.min.css'; // for home screen slider

// ------------------------ BASE COMPONENTS STYLE
// ====================Header Main card
@import '../baseComponent/HeaderMain/HeaderMainCard/index.scss';
//==================Footer card
@import '../baseComponent/Footer/FooterCard/index.scss';
// ///////////////////////////////////////////////////////////////////////////////////////////////

// --------------------- HOME SCREEN STYLES --------------------------------
//==================Shopping cart card
@import '../baseComponent/ShoppingCart/ShoppingCartCard/index.scss';

@import '../screens/homeScreen/index.scss';
// ---------------------- PRODUCTS SCREEN STYLE -----------------------------------
// product screeen style
@import '../screens/productScreen/index.scss';
// /////////////////////////////////////////////////////////////////////////////////////////////////////////

// --------------------------- CATEGORIES SCREEN STYLE------------------------------
// categories screen style
@import '../screens/categoriesScreen/index.scss';

// ------------------------------ ARTICLES SCREEN STYLE -----------------------
// main index
@import '../screens/articlesScreen/index.scss';
