.Pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 1em;
  // padding-bottom: 5em;
}
.paginationIcon {
  &.actived {
    background-color: #00112b;
    color: white;
  }
  width: 30px;
  height: 30px;
  background-color: transparent;
  margin: 0.5rem;
  border-radius: 100%;
  color: black;
  cursor: pointer;
  &.translateR:hover {
    transform: translateX(2px);
  }
  &.translateL:hover {
    transform: translateX(-2px);
  }
  &.translateT:hover {
    transform: translateY(-2px);
  }
  i {
    font-size: 0.8rem;
    font-weight: 100;
  }
}
