.categories-slider-container {
  width: 100%;
  display: flex;
  margin: auto;
  border-radius: 0px;
  overflow: hidden;
  direction: ltr;
  user-select: none;
  .slider-card-wrapper {
    height: 100%;
    img {
      height: 100%;
    }
  }
  .slider {
    height: 350px;
  }

  i {
    text-align: center;
  }
}
.left-arrow {
  display: none !important;
}

.right-arrow {
  display: none !important;
}

@media only screen and (max-width: 40em) {
  .slider-container {
    height: 25vh;
    .slider-card-wrapper {
      height: 100%;
      img {
        height: 100%;
      }
    }
    .slider {
      height: 25vh !important;
    }
  }
}
