.product-categories {
  display: flex;
  ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    // & li:last-child {
    //   padding-inline-end: 0;
    // }
    li {
      position: relative;
      flex: 1 1 25%;
      min-width: 25%;
      // max-width: 25%;
      padding: 7px;
      // overflow: hidden;
      &:nth-child(1) figure::before {
        content: '';
        width: 100%;
        height: 15px;
        background-color: var(--dark-green);
        position: absolute;
        top: 0;
        left: 0;
      }
      &:nth-child(2) figure::before {
        content: '';
        width: 100%;
        height: 15px;
        background-color: var(--light-green);
        position: absolute;
        top: 0;
        left: 0;
      }
      &:nth-child(3) figure::before {
        content: '';
        width: 100%;
        height: 15px;
        background-color: var(--yellow);
        position: absolute;
        top: 0;
        left: 0;
      }
      &:nth-child(4) figure::before {
        content: '';
        width: 100%;
        height: 15px;
        background-color: var(--orange);
        position: absolute;
        top: 0;
        left: 0;
      }
      figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 480px;
        margin: 0;
        position: relative;

        img {
          width: 100%;
          height: 70%;
        }
        figcaption {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          background-color: #fff;
          width: 100%;
          height: 30%;
          border-radius: 0 0 400px 400px;

          // a is styled in cssController.scss
          // as a.detail-btn
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .product-categories {
    display: flex;
    ul {
      display: flex;
      justify-content: space-between;
      width: 100%;
      list-style: none;
      // flex-wrap: wrap;
      li {
        width: 48%;
        position: relative;

        figure {
          height: 250px;
          margin-bottom: 2rem;
          img {
            width: 100%;
            // height: 230px;
          }
          figcaption {
            height: 100% !important;
            h2 {
              font-size: 1rem;
            }

            // a is styled in cssController.scss
            // as a.detail-btn
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 520px) and (min-width: 450px) {
  .product-categories {
    ul {
      flex-wrap: wrap;

      li {
        width: 48%;
        position: relative;

        figure {
          height: 310px;
          margin-bottom: 2rem;

          figcaption {
            h2 {
              font-size: 1rem;
            }

            // a is styled in cssController.scss
            // as a.detail-btn
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) and (min-width: 520px) {
  .product-categories {
    ul {
      li {
        width: 24%;
        position: relative;

        figure {
          height: 240px;
          margin-bottom: 2rem;

          figcaption {
            h2 {
              font-size: 1rem;
            }

            // a is styled in cssController.scss
            // as a.detail-btn
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1150px) and (min-width: 800px) {
  .product-categories {
    ul {
      li {
        width: 24%;
        position: relative;

        figure {
          height: 300px;
          margin-bottom: 2rem;

          figcaption {
            h2 {
              font-size: 1rem;
            }

            // a is styled in cssController.scss
            // as a.detail-btn
          }
        }
      }
    }
  }
}
