.categories-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  // background-color: #fff;
  .left-side-categories {
    width: 75%;
    order: 1;
  }
  .right-side-categories {
    width: 23%;
    background-color: #fff;
    padding: 1rem;
    margin: 1.5rem 0 3rem 0;
    border-radius: 7px;
    box-shadow: 0 0 15px 1px rgba(#333, 0.2);
  }
}

@media only screen and (max-width: 500px) {
  .categories-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .left-side-categories {
      width: 95%;
      margin: 0 auto;
    }
    .right-side-categories {
      display: none;
    }
  }
}

@import './Slider/SliderCard/index.scss';
@import './productsSection/ProductsSectionCard/index.scss';
@import './CategoryPanel/index.scss';
@import './filtersPanel/FilterPanelCard/index.scss';
