.ShowImageWithModal {
  height: 50vh;
  width: 50vw;
}
.modal_container-box {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  // align-items: center;
  z-index: 1000;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  z-index: 1300;
}
#subjectModal {
  z-index: 200;
}
#subjectModal.fadeIn {
  -webkit-animation: scale-fadeIn 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-fadeIn 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
#subjectModal.fadeOut {
  -webkit-animation: scale-fadeOut 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-fadeOut 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
