.input-icon-wrapper {
  box-shadow: 1px 0 5px -1px rgba(0, 0, 0, 0.3);
  transition: all 0.2s linear;
  border-radius: 0.5em;
  overflow: hidden;
  padding: 0.5em 1em;
  background-color: white;
  // &:hover {
  //   transition: all 0.2s linear;

  //   box-shadow: 1px 0 12px -1px rgba(0, 0, 0, 0.3);
  //   transform: translateY(-2px);
  // }
  i {
  }
  input {
    border: unset;
    padding: 0 1em;
  }
}
