.panel-main-container {
  display: flex;
  flex-wrap: wrap;
}
.gallery {
  display: flex;
  flex: 1;
  .gallery-header-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    .gallery-header {
      justify-content: space-between;
      .panel-main-container {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}
.gallery-filter {
  .btns-container {
    display: none;
  }
}
@media (max-width: 1000px) {
  .gallery-filter {
    > li {
      font-size: 0.9rem;
    }
    .btns-container {
    }
  }
}
@media (max-width: 868px) {
  .gallery-filter {
    > li {
      display: none;
    }
    .btns-container {
      display: flex;
    }
  }
}
