.gallery-image-card {
  display: flex;
  flex-direction: column;
  margin: 0.7rem 0;
  .gallery-image-card-container {
    background-color: white;
    padding: 0.5rem;
    -webkit-box-shadow: 0 0.75rem 6rem rgba(56, 65, 74, 0.03);
    box-shadow: 0 0.75rem 6rem rgba(56, 65, 74, 0.03);
    cursor: pointer;
    .card-image-text-data {
      margin-top: 1rem;
      overflow: hidden;
      p {
        font-size: 0.9rem;
        color: #343a40;
        font-weight: 600;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    &.activeImage {
      transform: translateY(-10px);
      box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.5);
    }
  }
}
