.shopping-cart-bg {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(#000, 0.4);
  z-index: 9;
  transition: 0.3s ease-in-out 0.1s;

  .shopping-cart-container {
    background-color: #fff;
    transform: translateX(-2000px);
    width: 40%;
    height: 100vh;
    position: fixed;
    z-index: 999;
    top: 0px;
    left: 0;
    box-shadow: 10px 0px 20px -10px rgba(0, 0, 0, 0.75);
    transition: transform 1s ease-in;

    .header-wrapper {
      display: flex;
      justify-content: space-between;
      padding: 1em;
      align-items: center;
      border-bottom: 1px solid rgba(207, 207, 207, 0.8);

      span {
        text-decoration: none;
        color: red;
        cursor: pointer;
        &:hover i {
          transform: rotate(180deg);
          transform-origin: center;
          transition: 0.3s linear;
        }
        i {
          font-size: 2rem;
          transition: 0.3s linear;
        }
      }
    }
    ul {
      display: flex;
      flex-direction: column;

      li {
        padding: 1em;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(207, 207, 207, 0.4);

        &:last-child {
          border-bottom: 2px solid rgb(207, 207, 207);
        }
        span.close {
          cursor: pointer;
        }
      }
    }
    .total {
      display: flex;
      justify-content: space-between;
      padding: 1em;
    }
    .final {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .final-btn {
        color: #fff;
        background-color: var(--blue);
        width: 100%;
        text-align: center;
        padding: 1em;
        text-decoration: none;
        border: 2px solid var(--blue);
        transition: 0.3s ease-in-out;
        font-weight: bold;
        font-size: 1.3rem;

        &:hover {
          border: 2px solid var(--blue);
          background-color: transparent;
          color: var(--blue);
          transition: 0.3s ease-in-out;
        }
      }
      .return-to-shopping {
        padding: 1em;
      }
    }
  }
}

.shopping-cart-bg {
  .open-cart {
    transform: translateX(0);
    transition: transform 1s ease-out 0.1s;
    z-index: 999;
  }
}

.none {
  transition: 0.3s ease-in-out 0.3s;
  background-color: rgba(#333, 0);
  pointer-events: none;
}

@media screen and (max-width: 500px) {
  .shopping-cart-bg {
    .shopping-cart-container {
      width: 100%;
    }
  }
}
