.courseCard {
  background-color: white;
  width: 30%;
  box-shadow: 0 30px 60px rgba(138, 149, 158, 0.2);
  border-radius: 8px;
  overflow: hidden;
}
.show-Card-Information-row {
  // -webkit-box-flex: 0;
  // -ms-flex: 0 0 33%;
  // flex: 0 0 33%;
  // max-width: 33%;
  padding: 1em;

  .card-info {
    background-color: white;
    position: relative;
    &.activeImage {
      transform: translateY(-10px);
      box-shadow: 0px 0px 4px 1px rgba(0, 179, 5, 0.5);
    }
    &:hover {
      .options-card {
        visibility: visible;
        top: 0;
      }
    }
    .imageTitle.positionABS {
      bottom: 0;

      color: wheat;

      margin: auto;

      width: 100%;

      text-align: center;

      font-weight: 900;
    }
    &:hover .imageTitle.positionABS {
      color: rgb(114, 114, 114);
    }
  }
}
.s-c--card-images {
  position: relative;
  border-radius: 0 0 10px 10px;
  // padding: 7px;
  // height: 13em;
  .options-card {
    position: absolute;
    display: flex;
    flex-flow: column;
    left: 0.5rem;
    top: -100%;
    margin: 0.5rem 0;
    visibility: hidden;

    > span {
      width: 1.5rem;
      height: 1.5rem;
      background-color: rgb(61, 61, 61);
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0.2em;
      border-radius: 100%;
      cursor: pointer;
      &:hover {
        &.options-card-cancel {
          background-color: var(--redColor);
        }
        &.options-card-edit {
          background-color: var(--successColor);
        }
        &.options-card-block {
          background-color: var(--blackLight);
        }
      }
      i {
        font-size: 10px;
      }
    }
  }
  img {
    border-radius: 10px 10px 0 0;
    height: 100%;
  }
}
.s-c-card-body {
  padding: 0.5em 1em;
  > div {
    display: flex;
    // margin: 5px 0;
    font-size: 0.8em;
  }
}

.card-info {
  border-radius: 5px;
  // height: 100%;
  line-height: normal;
  overflow: hidden;
  -webkit-box-shadow: var(--boxShadowLow);
  box-shadow: var(--boxShadowLow);
  &:hover {
    -webkit-box-shadow: var(--boxShadowLowHover);
    box-shadow: var(--boxShadowLowHover);
  }
}
.s-c-body-wrapper {
  white-space: nowrap;
  flex-direction: column;
  > div {
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: space-between;
    align-items: center;
  }
}
.s-c-card-title {
  font-size: 1em;
  font-weight: 700;
  color: var(--titleColor);
  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.2em 0;
    overflow: hidden;

    > div {
      display: flex;
      overflow: hidden;
      * {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  &.category-title {
    color: var(--BlueToGreen);

    font-weight: 400;
  }
}
.icon-value {
  margin-right: auto;
  > i {
    font-size: 18px;
  }
  > span {
    color: var(--successColor);
  }
}
.s-c-card-description {
  color: var(--description);
}
.card-price-wrapper {
  display: inline-flex;
}
.s-c-card-price {
}
.btns-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row !important;
  > a {
    width: 100%;
  }
}
.cardDistric-wrapper {
  padding: 0.3em 0.5em;
  border-radius: 10px;
  background-color: var(--redColor);
  color: white;
  font-weight: 700;
}
.cardPhonenumber-wrapper {
  margin-right: auto;
  font-size: 0.9em;
  // > * {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }
}
