.filters-panel-section {
  border-bottom: 1px solid rgba(rgb(102, 102, 102), 0.3);
  margin-bottom: 1rem;
}
.filter-items {
  border-bottom: 1px solid rgba(#333, 0.1);
  .filters-title {
    padding: 0.5rem 0;

    font-weight: bold;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(rgb(102, 102, 102), 0.3);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
  ul {
    li {
      margin: 0.7rem 0;
      p {
        font-size: 0.8rem;
        margin-right: 1rem;
        margin-bottom: 0.2rem;
        cursor: pointer;
      }
    }
  }
  button {
    background: none;
    border: none;
    font-size: 0.8rem;
    color: rgba(#000, 0.5);
    margin-right: 1rem;
    outline: none;
    margin-bottom: 1rem;
  }
}
