footer {
  background-color: var(--cream);
  padding: 2em 2em 0 2em;
  background-image: url(../../../public/images/footer-element.png);
  background-size: 150px;
  background-repeat: repeat-x;
  background-position: bottom center;
  width: 100%;
  .footer-wrapper {
    display: flex;
    padding: 2em 2em 0 2em;
    .left-side {
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        text-align: justify;
        padding: 0.8em 0;
      }
      .buttons {
        display: none;
      }
    }
    .right-side {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      list-style: none;
      line-height: 2.3em;
      li {
        text-align: start;
        a {
          text-decoration: none;
          color: #000;
          transition: 0.3s ease-in-out;

          &:hover {
            opacity: 0.6;
            transition: 0.3s ease-in-out;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 40em) {
  footer {
    background-color: var(--cream);
    padding: 2em 2em 0 2em;
    background-image: url(../../../public/images/footer-element.png);
    background-size: 150px;
    background-repeat: repeat-x;
    background-position: bottom center;
    width: 100%;
    .footer-wrapper {
      flex-direction: column;
      .left-side {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          text-align: justify;
          padding: 0.8em 0;
        }
      }
      .right-side {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;
        line-height: 2.3em;
      }
    }
    .span-more {
      display: block;
      height: 20px;
      opacity: 0.4;
      background-color: rgba(#fff, 0.1);
      overflow: hidden;
      transition: 0.3s ease-in-out;
    }
    .buttons {
      display: flex !important;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      .read-more {
        background: none;
        border: none;
        background: var(--yellow);
        border-radius: 7px;
        padding: 0.1rem 0.7rem;
        font-size: 0.8rem;
      }
      .read-more {
        display: block;
      }
    }
    .show-more {
      background-color: none;
      opacity: 1;
      height: fit-content;
      transition: 0.3s ease-in-out;
    }
  }
}
