.nav-wrapper {
  .product-tab {
    .product-nav {
      display: flex;
      width: 100%;
      justify-content: center;
      padding: 2em 0 0.5em 0;

      li {
        // padding: 2em;
        margin: 0 1em;
        width: 10em;
        text-align: center;
        position: relative;

        button {
          background: none;
          border: none;
          display: inline-block;
          width: 100%;
          position: relative;
          padding: 0.3rem 1rem;
          text-align: center;
          cursor: pointer;
          vertical-align: top;
          font-size: 1.5rem;
          background-color: var(--light-green);
          transition: 0.3s ease-in-out;
          border-radius: 25px;
          outline: none;

          &:hover {
            background-color: var(--dark-green);
            color: #fff;
          }
        }
        .active {
          background-color: var(--dark-green);
          color: #fff;
        }
        .disable {
          background-color: rgba(#c6de2c, 0.5);
          color: rgba(#000, 0.4);
        }
      }
    }
  }
  .desc-review-wrapper {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    transition: 1s ease-in-out;
    .desc-wrapper,
    .review-wrapper {
      overflow-x: hidden;
    }
  }
  .no-height {
    height: 0 !important;
  }
}

@media (max-width: 40em) {
  .nav-wrapper {
    .product-tab {
      .product-nav {
        li {
          width: 8em;
          button {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
