.table th,
.table td {
  vertical-align: middle;
  height: 100%;
  text-align: center;
}
.table-wrapper {
  > span {
    font-size: 1em;
    margin: 0 0.3em;
    > i {
      cursor: pointer;
      &.icon-edit-alt {
        &:hover {
          color: var(--warningColorHover);
        }
      }
      &.icon-cancel-circled {
        font-size: 1.3em;
        &:hover {
          color: var(--dangerColorHover);
        }
      }
    }
  }
}
.elemnts-box {
  padding: 10px;
  min-width: 60%;
  border-radius: 6px;
  background-color: white;
}
.subtitle-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  > span {
    padding: 0.5em;
    color: #717171;
    // border-bottom: 1px solid #717171;
  }
  .head-optional-elements {
    > * {
      margin: 0 10px;
    }
  }
}
.show-elements {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  width: 100%;
  overflow: auto;
}
.show-data-title-box {
  margin: 10px;
  min-width: 100px;
  text-align: center;
  box-shadow: var(--boxShadowLow);
  padding: 5px;
  color: #717171;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    box-shadow: var(--boxShadowLowHover);
    color: black;
    font-weight: 700;
  }
}
.table-bordered thead th,
.table-bordered thead td {
  // white-space: nowrap;
}
.table-bordered th,
.table-bordered td {
  vertical-align: middle;
}
